<div class="row">
	<div class="col-12">
		<div class="page-header">
			<div class="row">
				<div class="col-11">
					<p class="titleSystem">Estadísticas del usuario: <strong id="nickname"></strong></p>	
				</div>
				<div class="col-1">
					<!--<button class="btn btn-info float-right">
						<i class="fa fa-info"></i>
					</button>-->
				</div>
			</div>
		</div>
	</div>
	<div class="col-12">
		<strong>Metas financieras</strong>
	</div>
	<div class="col-12 graphicContainer">
		<button class="btn btn-primary" onclick="cargarGraficaMovimientos()"><span class="fa fa-sync-alt"></span></button>
		<div id="movimientosFinancieros" style="width: 100%;height: 400px;"></div>
	</div>
	<div class="col-12 graphicContainer">
		<!--<button class="btn btn-primary" onclick="cargarGraficaCurvaAhorro()"><span class="fa fa-sync-alt"></span></button>-->
		<div id="curvaAhorro" style="width: 100%;height: 400px;"></div>
	</div>
	<div class="col-12 graphicContainer">
		<div id="metasFinancieras" style="width: 100%;height: 400px;"></div>
	</div>
</div>

<script type="text/javascript">
	cargarInformacionUsuarioEstadisticas();
	cargarGraficaMovimientos();
	//cargarGraficaCurvaAhorro();
	cargarGraficaMetasFinancieras();
</script>
