<div class="row">
	<div class="col-12">
		<div class="page-header">
			<div class="row">
				<div class="col-11">
					<p class="titleSystem">Recomendaciones o Tips</p>
					<p>
						Registro de recomendaciones o tips
					</p>		
				</div>
				<div class="col-1">
					<!--<button class="btn btn-info float-right">
						<i class="fa fa-info"></i>
					</button>-->
				</div>
			</div>
		</div>
	</div>
	<div class="col-12">
		<div class="row">
			<div class="col-12">
				<button class="btn btn-primary" onclick="formularioTip()">
					<span class="fa fa-user-plus"></span> Nuevo
				</button>
			</div>
		</div>
		<div class="row page-body listadoTips">
			
		</div>
	</div>
</div>
<script type="text/javascript">
	cargarTips();
</script>