<div class="row">
	<div class="col-12">
		<div class="page-header">
			<div class="row">
				<div class="col-11">
					<p class="titleSystem">Metas</p>
					<p>
						Defina sus metas de ahorro
					</p>		
				</div>
				<div class="col-1">
					<!--<button class="btn btn-info float-right">
						<i class="fa fa-info"></i>
					</button>-->
				</div>
			</div>
		</div>
	</div>
	<div class="col-12">
		<div class="page-body">
			<strong>Metas</strong>
			<table class="table table-striped">			
				<thead class="thead-dark">
					<tr>
						<th>No.</th>
						<th>Nombre</th>
						<th>Valor</th>
						<th>Fecha límite</th>
						<th>Descripción</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody id="listadoMetas">
					
				</tbody>
			</table>
		</div>
	</div>
</div>
<script type="text/javascript">
	cargarMetas()
</script>