<div class="row">
	<div class="col-12">
		<div class="page-header">
			<div class="row">
				<div class="col-11">
					<p class="titleSystem">Reportes</p>
					<p>
						Obtenga reportes de gestión del sistema
					</p>		
				</div>
				<div class="col-1">
					<!--<button class="btn btn-info float-right">
						<i class="fa fa-info"></i>
					</button>-->
				</div>
			</div>
		</div>
	</div>
	<div class="col-12">
		<div class="page-body">
			<!--<strong>Información del usuario</strong>
			<table class="table">				
				<tbody>
					<tr>
						<td>Nombres</td><td id="nombre"></td>
					</tr>
					<tr>
						<td>Número de documento</td><td id="numeroDocumento"></td>
					</tr>
					<tr>
						<td>Usuario</td><td id="usuario"></td>
					</tr>
				</tbody>
			</table>-->
		</div>
	</div>
</div>